import type * as Directus from "@directus/sdk";

import * as DirectusSDK from "@directus/sdk";

import { ApplyQueryFields } from "../../types/ApplyQueryFields";

import {
  Collections,
  Schema,
} from "../../client";
import { createDirectusOperationItem, createDirectusOperationItems, deleteDirectusOperationItem, deleteDirectusOperationItems, readDirectusOperationItem, readDirectusOperationItems, updateDirectusOperationItem, updateDirectusOperationItems } from "@/command/DirectusOperation.command";

type DirectusSDK = typeof DirectusSDK;

export class DirectusOperationItems {
  /**
   *
   */
  constructor(
    private client: Directus.DirectusClient<Schema> &
      Directus.RestClient<Schema>,
  ) {}

  /**
   * Creates many items in the collection.
   */
  async create<
    const Query extends DirectusSDK.Query<
      Schema,
      Collections.DirectusOperation
    >,
  >(
    items: Partial<Collections.DirectusOperation>[],
    query?: Query,
  ): Promise<
    ApplyQueryFields<
      Schema,
      Collections.DirectusOperation,
      Query extends undefined
        ? ["*"]
        : Query["fields"] extends undefined
          ? ["*"]
          : Query["fields"] extends Readonly<any[]>
            ? Query["fields"]
            : ["*"]
    >[]
  > {
    return (await this.client.request(
      createDirectusOperationItems(items, query as any),
    )) as any; // the any type is here because we transform the type through or custom ApplyQueryFields type.
  }

  /**
   * Read many items from the collection.
   */
  async query<
    const Query extends Directus.Query<
      Schema,
      Collections.DirectusOperation
    >,
  >(
    query?: Query,
  ): Promise<
    ApplyQueryFields<
      Schema,
      Collections.DirectusOperation,
      Query extends undefined
        ? ["*"]
        : Query["fields"] extends undefined
          ? ["*"]
          : Query["fields"] extends Readonly<any[]>
            ? Query["fields"]
            : ["*"]
    >[]
  > {
    return (await this.client.request(
      readDirectusOperationItems(query),
    )) as any; // the any type is here because we transform the type through or custom ApplyQueryFields type.
  }

  /**
   * Read the first item from the collection matching the query.
   */
  async find<
    const Query extends Directus.Query<
      Schema,
      Collections.DirectusOperation
    >,
  >(
    query?: Query,
  ): Promise<
    | ApplyQueryFields<
        Schema,
        Collections.DirectusOperation,
        Query extends undefined
          ? ["*"]
          : Query["fields"] extends undefined
            ? ["*"]
            : Query["fields"] extends Readonly<any[]>
              ? Query["fields"]
              : ["*"]
      >
    | undefined
  > {
    const items = await this.client.request(
      readDirectusOperationItems({
        ...query,
        limit: 1,
      }),
    );
    return items?.[0] as any; // the any type is here because we transform the type through or custom ApplyQueryFields type.
  }

  /**
   * Update many items in the collection.
   */
  async update<
    const Query extends Directus.Query<
      Schema,
      Directus.DirectusOperation<Schema>
    >,
  >(
    keys: Collections.DirectusOperation extends { id: number | string }
      ? Collections.DirectusOperation["id"][]
      : string[] | number[],
    patch: Partial<Collections.DirectusOperation>,
    query?: Query,
  ): Promise<
    ApplyQueryFields<
      Schema,
      Collections.DirectusOperation,
      Query extends undefined
        ? ["*"]
        : Query["fields"] extends undefined
          ? ["*"]
          : Query["fields"] extends Readonly<any[]>
            ? Query["fields"]
            : ["*"]
    >[]
  > {
    return (await this.client.request(
      updateDirectusOperationItems(keys, patch, query),
    )) as any; // the any type is here because we transform the type through or custom ApplyQueryFields type.
  }

  /**
   * Remove many items in the collection.
   */
  async remove<
    const Query extends Directus.Query<
      Schema,
      Collections.DirectusOperation
    >,
  >(
    keys: Collections.DirectusOperation extends { id: number | string }
      ? Collections.DirectusOperation["id"][]
      : string[] | number[],
  ): Promise<void> {
    return await this.client.request(deleteDirectusOperationItems(keys));
  }
}

export class DirectusOperationItem {
  /**
   *
   */
  constructor(
    private client: Directus.DirectusClient<Schema> &
      Directus.RestClient<Schema>,
  ) {}

  /**
   * Create a single item in the collection.
   */
  async create<
    const Query extends Directus.Query<
      Schema,
      Collections.DirectusOperation
    >,
  >(
    item: Partial<Collections.DirectusOperation>,
    query?: Query,
  ): Promise<
    ApplyQueryFields<
      Schema,
      Collections.DirectusOperation,
      Query extends undefined
        ? ["*"]
        : Query["fields"] extends undefined
          ? ["*"]
          : Query["fields"] extends Readonly<any[]>
            ? Query["fields"]
            : ["*"]
    >
  > {
    return (await this.client.request(
      createDirectusOperationItem(item, query as any),
    )) as any;
  }

  /**
   * Read a single item from the collection.
   */
  async get<
    const Query extends Directus.Query<
      Schema,
      Collections.DirectusOperation
    >,
  >(
    key: Collections.DirectusOperation extends { id: number | string }
      ? Collections.DirectusOperation["id"]
      : string | number,
    query?: Query,
  ): Promise<
    | ApplyQueryFields<
        Schema,
        Collections.DirectusOperation,
        Query extends undefined
          ? ["*"]
          : Query["fields"] extends undefined
            ? ["*"]
            : Query["fields"] extends Readonly<any[]>
              ? Query["fields"]
              : ["*"]
      >
    | undefined
  > {
    return (await this.client.request(
      readDirectusOperationItem(key, query),
    )) as any;
  }

  /**
   * Update a single item from the collection.
   */
  async update<
    const Query extends Directus.Query<
      Schema,
      Collections.DirectusOperation
    >,
  >(
    key: Collections.DirectusOperation extends { id: number | string }
      ? Collections.DirectusOperation["id"]
      : string | number,
    patch: Partial<Collections.DirectusOperation>,
    query?: Query,
  ): Promise<
    | ApplyQueryFields<
        Schema,
        Collections.DirectusOperation,
        Query extends undefined
          ? ["*"]
          : Query["fields"] extends undefined
            ? ["*"]
            : Query["fields"] extends Readonly<any[]>
              ? Query["fields"]
              : ["*"]
      >
    | undefined
  > {
    return (await this.client.request(
      updateDirectusOperationItem(key, patch, query as any),
    )) as any;
  }

  /**
   * Remove many items in the collection.
   */
  async remove<
    const Query extends Directus.Query<
      Schema,
      Collections.DirectusOperation
    >,
  >(
    key: Collections.DirectusOperation extends { id: number | string }
      ? Collections.DirectusOperation["id"]
      : string | number,
  ): Promise<void> {
    return await this.client.request(deleteDirectusOperationItem(key));
  }
}
