import type * as Directus from "@directus/sdk";

import * as DirectusSDK from "@directus/sdk";

import { ApplyQueryFields } from "../../types/ApplyQueryFields";

import {
  Collections,
  Schema,
} from "../../client";
import { createDirectusDashboardItem, createDirectusDashboardItems, deleteDirectusDashboardItem, deleteDirectusDashboardItems, readDirectusDashboardItem, readDirectusDashboardItems, updateDirectusDashboardItem, updateDirectusDashboardItems } from "@/command/DirectusDashboard.command";

type DirectusSDK = typeof DirectusSDK;

export class DirectusDashboardItems {
  /**
   *
   */
  constructor(
    private client: Directus.DirectusClient<Schema> &
      Directus.RestClient<Schema>,
  ) {}

  /**
   * Creates many items in the collection.
   */
  async create<
    const Query extends DirectusSDK.Query<
      Schema,
      Collections.DirectusDashboard
    >,
  >(
    items: Partial<Collections.DirectusDashboard>[],
    query?: Query,
  ): Promise<
    ApplyQueryFields<
      Schema,
      Collections.DirectusDashboard,
      Query extends undefined
        ? ["*"]
        : Query["fields"] extends undefined
          ? ["*"]
          : Query["fields"] extends Readonly<any[]>
            ? Query["fields"]
            : ["*"]
    >[]
  > {
    return (await this.client.request(
      createDirectusDashboardItems(items, query as any),
    )) as any; // the any type is here because we transform the type through or custom ApplyQueryFields type.
  }

  /**
   * Read many items from the collection.
   */
  async query<
    const Query extends Directus.Query<
      Schema,
      Collections.DirectusDashboard
    >,
  >(
    query?: Query,
  ): Promise<
    ApplyQueryFields<
      Schema,
      Collections.DirectusDashboard,
      Query extends undefined
        ? ["*"]
        : Query["fields"] extends undefined
          ? ["*"]
          : Query["fields"] extends Readonly<any[]>
            ? Query["fields"]
            : ["*"]
    >[]
  > {
    return (await this.client.request(
      readDirectusDashboardItems(query),
    )) as any; // the any type is here because we transform the type through or custom ApplyQueryFields type.
  }

  /**
   * Read the first item from the collection matching the query.
   */
  async find<
    const Query extends Directus.Query<
      Schema,
      Collections.DirectusDashboard
    >,
  >(
    query?: Query,
  ): Promise<
    | ApplyQueryFields<
        Schema,
        Collections.DirectusDashboard,
        Query extends undefined
          ? ["*"]
          : Query["fields"] extends undefined
            ? ["*"]
            : Query["fields"] extends Readonly<any[]>
              ? Query["fields"]
              : ["*"]
      >
    | undefined
  > {
    const items = await this.client.request(
      readDirectusDashboardItems({
        ...query,
        limit: 1,
      }),
    );
    return items?.[0] as any; // the any type is here because we transform the type through or custom ApplyQueryFields type.
  }

  /**
   * Update many items in the collection.
   */
  async update<
    const Query extends Directus.Query<
      Schema,
      Directus.DirectusDashboard<Schema>
    >,
  >(
    keys: Collections.DirectusDashboard extends { id: number | string }
      ? Collections.DirectusDashboard["id"][]
      : string[] | number[],
    patch: Partial<Collections.DirectusDashboard>,
    query?: Query,
  ): Promise<
    ApplyQueryFields<
      Schema,
      Collections.DirectusDashboard,
      Query extends undefined
        ? ["*"]
        : Query["fields"] extends undefined
          ? ["*"]
          : Query["fields"] extends Readonly<any[]>
            ? Query["fields"]
            : ["*"]
    >[]
  > {
    return (await this.client.request(
      updateDirectusDashboardItems(keys, patch, query),
    )) as any; // the any type is here because we transform the type through or custom ApplyQueryFields type.
  }

  /**
   * Remove many items in the collection.
   */
  async remove<
    const Query extends Directus.Query<
      Schema,
      Collections.DirectusDashboard
    >,
  >(
    keys: Collections.DirectusDashboard extends { id: number | string }
      ? Collections.DirectusDashboard["id"][]
      : string[] | number[],
  ): Promise<void> {
    return await this.client.request(deleteDirectusDashboardItems(keys));
  }
}

export class DirectusDashboardItem {
  /**
   *
   */
  constructor(
    private client: Directus.DirectusClient<Schema> &
      Directus.RestClient<Schema>,
  ) {}

  /**
   * Create a single item in the collection.
   */
  async create<
    const Query extends Directus.Query<
      Schema,
      Collections.DirectusDashboard
    >,
  >(
    item: Partial<Collections.DirectusDashboard>,
    query?: Query,
  ): Promise<
    ApplyQueryFields<
      Schema,
      Collections.DirectusDashboard,
      Query extends undefined
        ? ["*"]
        : Query["fields"] extends undefined
          ? ["*"]
          : Query["fields"] extends Readonly<any[]>
            ? Query["fields"]
            : ["*"]
    >
  > {
    return (await this.client.request(
      createDirectusDashboardItem(item, query as any),
    )) as any;
  }

  /**
   * Read a single item from the collection.
   */
  async get<
    const Query extends Directus.Query<
      Schema,
      Collections.DirectusDashboard
    >,
  >(
    key: Collections.DirectusDashboard extends { id: number | string }
      ? Collections.DirectusDashboard["id"]
      : string | number,
    query?: Query,
  ): Promise<
    | ApplyQueryFields<
        Schema,
        Collections.DirectusDashboard,
        Query extends undefined
          ? ["*"]
          : Query["fields"] extends undefined
            ? ["*"]
            : Query["fields"] extends Readonly<any[]>
              ? Query["fields"]
              : ["*"]
      >
    | undefined
  > {
    return (await this.client.request(
      readDirectusDashboardItem(key, query),
    )) as any;
  }

  /**
   * Update a single item from the collection.
   */
  async update<
    const Query extends Directus.Query<
      Schema,
      Collections.DirectusDashboard
    >,
  >(
    key: Collections.DirectusDashboard extends { id: number | string }
      ? Collections.DirectusDashboard["id"]
      : string | number,
    patch: Partial<Collections.DirectusDashboard>,
    query?: Query,
  ): Promise<
    | ApplyQueryFields<
        Schema,
        Collections.DirectusDashboard,
        Query extends undefined
          ? ["*"]
          : Query["fields"] extends undefined
            ? ["*"]
            : Query["fields"] extends Readonly<any[]>
              ? Query["fields"]
              : ["*"]
      >
    | undefined
  > {
    return (await this.client.request(
      updateDirectusDashboardItem(key, patch, query as any),
    )) as any;
  }

  /**
   * Remove many items in the collection.
   */
  async remove<
    const Query extends Directus.Query<
      Schema,
      Collections.DirectusDashboard
    >,
  >(
    key: Collections.DirectusDashboard extends { id: number | string }
      ? Collections.DirectusDashboard["id"]
      : string | number,
  ): Promise<void> {
    return await this.client.request(deleteDirectusDashboardItem(key));
  }
}
