import type * as Directus from '@directus/sdk'

import * as DirectusSDK from '@directus/sdk'

import { ApplyQueryFields } from '../../types/ApplyQueryFields'

import {
    Collections,
    CollectionsType,
    DirectusCommands,
    Schema,
} from '../../client'

type DirectusSDK = typeof DirectusSDK


/**
 * Create many directus presets items.
 */
export function createDirectusPresetItems<
    const Query extends Directus.Query<
        CollectionsType,
        Collections.DirectusPreset
    >,
>(items: Partial<Collections.DirectusPreset>[], query?: Query) {
    return DirectusSDK.createPresets<CollectionsType, Query>(items, query)
}

/**
 * Create a single directus presets item.
 */
export function createDirectusPresetItem<
    const Query extends DirectusSDK.Query<
        CollectionsType,
        Directus.DirectusPreset<CollectionsType>
    >, // Is this a mistake? Why []?
>(item: Partial<Collections.DirectusPreset>, query?: Query) {
    return DirectusSDK.createPreset<CollectionsType, Query>(item, query)
}

/**
 * Read many directus presets items.
 */
export function readDirectusPresetItems<
    const Query extends Directus.Query<
        CollectionsType,
        Collections.DirectusPreset
    >,
>(query?: Query) {
    return DirectusSDK.readPresets<CollectionsType, Query>(query)
}

/**
 * Read many directus presets items.
 */
export const listDirectusPreset = readDirectusPresetItems

/**
 * Gets a single known directus presets item by id.
 */
export function readDirectusPresetItem<
    const Query extends Directus.Query<
        CollectionsType,
        Collections.DirectusPreset
    >,
>(
    key: Collections.DirectusPreset extends { id: number | string }
        ? Collections.DirectusPreset['id']
        : string | number,
    query?: Query
) {
    return DirectusSDK.readPreset<CollectionsType, Query>(key, query)
}

/**
 * Gets a single known directus presets item by id.
 */
export const readDirectusPreset = readDirectusPresetItem

/**
 * Read many directus presets items.
 */
export function updateDirectusPresetItems<
    const Query extends Directus.Query<
        CollectionsType,
        Collections.DirectusPreset
    >,
>(
    keys: Collections.DirectusPreset extends { id: number | string }
        ? Collections.DirectusPreset['id'][]
        : string[] | number[],
    patch: Partial<Collections.DirectusPreset>,
    query?: Query
) {
    return DirectusSDK.updatePresets<CollectionsType, Query>(keys, patch, query)
}

/**
 * Gets a single known directus presets item by id.
 */
export function updateDirectusPresetItem<
    const Query extends Directus.Query<
        CollectionsType,
        Collections.DirectusPreset
    >,
>(
    key: Collections.DirectusPreset extends { id: number | string }
        ? Collections.DirectusPreset['id']
        : string | number,
    patch: Partial<Collections.DirectusPreset>,
    query?: Query
) {
    return DirectusSDK.updatePreset<CollectionsType, Query>(key, patch, query)
}

/**
 * Deletes many directus presets items.
 */
export function deleteDirectusPresetItems<
    const Query extends Directus.Query<
        CollectionsType,
        Collections.DirectusPreset
    >,
>(
    keys: Collections.DirectusPreset extends { id: number | string }
        ? Collections.DirectusPreset['id'][]
        : string[] | number[]
) {
    return DirectusSDK.deletePresets<CollectionsType>(keys)
}

/**
 * Deletes a single known directus presets item by id.
 */
export function deleteDirectusPresetItem(
    key: Collections.DirectusPreset extends { id: number | string }
        ? Collections.DirectusPreset['id']
        : string | number
) {
    return DirectusSDK.deletePreset<CollectionsType>(key)
}

export class DirectusPresetItems {
    /**
     *
     */
    constructor(
        private client: Directus.DirectusClient<Schema> &
            Directus.RestClient<Schema>
    ) {}

    /**
     * Creates many items in the collection.
     */
    async create<
        const Query extends DirectusSDK.Query<
            CollectionsType,
            Collections.DirectusPreset
        >,
    >(
        items: Partial<Collections.DirectusPreset>[],
        query?: Query
    ): Promise<
        ApplyQueryFields<
            CollectionsType,
            Collections.DirectusPreset,
            Query extends undefined
                ? ['*']
                : Query['fields'] extends undefined
                  ? ['*']
                  : Query['fields'] extends Readonly<any[]>
                    ? Query['fields']
                    : ['*']
        >[]
    > {
        return (await this.client.request(
            createDirectusPresetItems(items, query as any)
        )) as any // the any type is here because we transform the type through or custom ApplyQueryFields type.
    }

    /**
     * Read many items from the collection.
     */
    async query<
        const Query extends Directus.Query<
            CollectionsType,
            Collections.DirectusPreset
        >,
    >(
        query?: Query
    ): Promise<
        ApplyQueryFields<
            CollectionsType,
            Collections.DirectusPreset,
            Query extends undefined
                ? ['*']
                : Query['fields'] extends undefined
                  ? ['*']
                  : Query['fields'] extends Readonly<any[]>
                    ? Query['fields']
                    : ['*']
        >[]
    > {
        return (await this.client.request(
            readDirectusPresetItems(query)
        )) as any // the any type is here because we transform the type through or custom ApplyQueryFields type.
    }

    /**
     * Read the first item from the collection matching the query.
     */
    async find<
        const Query extends Directus.Query<
            CollectionsType,
            Collections.DirectusPreset
        >,
    >(
        query?: Query
    ): Promise<
        | ApplyQueryFields<
              CollectionsType,
              Collections.DirectusPreset,
              Query extends undefined
                  ? ['*']
                  : Query['fields'] extends undefined
                    ? ['*']
                    : Query['fields'] extends Readonly<any[]>
                      ? Query['fields']
                      : ['*']
          >
        | undefined
    > {
        const items = await this.client.request(
            readDirectusPresetItems({
                ...query,
                limit: 1,
            })
        )
        return items?.[0] as any // the any type is here because we transform the type through or custom ApplyQueryFields type.
    }

    /**
     * Update many items in the collection.
     */
    async update<
        const Query extends Directus.Query<
            CollectionsType,
            Directus.DirectusPreset<CollectionsType>
        >,
    >(
        keys: Collections.DirectusPreset extends { id: number | string }
            ? Collections.DirectusPreset['id'][]
            : string[] | number[],
        patch: Partial<Collections.DirectusPreset>,
        query?: Query
    ): Promise<
        ApplyQueryFields<
            CollectionsType,
            Collections.DirectusPreset,
            Query extends undefined
                ? ['*']
                : Query['fields'] extends undefined
                  ? ['*']
                  : Query['fields'] extends Readonly<any[]>
                    ? Query['fields']
                    : ['*']
        >[]
    > {
        return (await this.client.request(
            updateDirectusPresetItems(keys, patch, query)
        )) as any // the any type is here because we transform the type through or custom ApplyQueryFields type.
    }

    /**
     * Remove many items in the collection.
     */
    async remove<
        const Query extends Directus.Query<
            CollectionsType,
            Collections.DirectusPreset
        >,
    >(
        keys: Collections.DirectusPreset extends { id: number | string }
            ? Collections.DirectusPreset['id'][]
            : string[] | number[]
    ): Promise<void> {
        return await this.client.request(deleteDirectusPresetItems(keys))
    }
}

export class DirectusPresetItem {
    /**
     *
     */
    constructor(
        private client: Directus.DirectusClient<Schema> &
            Directus.RestClient<Schema>
    ) {}

    /**
     * Create a single item in the collection.
     */
    async create<
        const Query extends Directus.Query<
            CollectionsType,
            Collections.DirectusPreset
        >,
    >(
        item: Partial<Collections.DirectusPreset>,
        query?: Query
    ): Promise<
        ApplyQueryFields<
            CollectionsType,
            Collections.DirectusPreset,
            Query extends undefined
                ? ['*']
                : Query['fields'] extends undefined
                  ? ['*']
                  : Query['fields'] extends Readonly<any[]>
                    ? Query['fields']
                    : ['*']
        >
    > {
        return (await this.client.request(
            createDirectusPresetItem(item, query as any)
        )) as any
    }

    /**
     * Read a single item from the collection.
     */
    async get<
        const Query extends Directus.Query<
            CollectionsType,
            Collections.DirectusPreset
        >,
    >(
        key: Collections.DirectusPreset extends { id: number | string }
            ? Collections.DirectusPreset['id']
            : string | number,
        query?: Query
    ): Promise<
        | ApplyQueryFields<
              CollectionsType,
              Collections.DirectusPreset,
              Query extends undefined
                  ? ['*']
                  : Query['fields'] extends undefined
                    ? ['*']
                    : Query['fields'] extends Readonly<any[]>
                      ? Query['fields']
                      : ['*']
          >
        | undefined
    > {
        return (await this.client.request(
            readDirectusPresetItem(key, query)
        )) as any
    }

    /**
     * Update a single item from the collection.
     */
    async update<
        const Query extends Directus.Query<
            CollectionsType,
            Collections.DirectusPreset
        >,
    >(
        key: Collections.DirectusPreset extends { id: number | string }
            ? Collections.DirectusPreset['id']
            : string | number,
        patch: Partial<Collections.DirectusPreset>,
        query?: Query
    ): Promise<
        | ApplyQueryFields<
              CollectionsType,
              Collections.DirectusPreset,
              Query extends undefined
                  ? ['*']
                  : Query['fields'] extends undefined
                    ? ['*']
                    : Query['fields'] extends Readonly<any[]>
                      ? Query['fields']
                      : ['*']
          >
        | undefined
    > {
        return (await this.client.request(
            updateDirectusPresetItem(key, patch, query as any)
        )) as any
    }

    /**
     * Remove many items in the collection.
     */
    async remove<
        const Query extends Directus.Query<
            CollectionsType,
            Collections.DirectusPreset
        >,
    >(
        key: Collections.DirectusPreset extends { id: number | string }
            ? Collections.DirectusPreset['id']
            : string | number
    ): Promise<void> {
        return await this.client.request(deleteDirectusPresetItem(key))
    }
}