import type * as Directus from "@directus/sdk";

import * as DirectusSDK from "@directus/sdk";

import { ApplyQueryFields } from "../../types/ApplyQueryFields";

import { Collections, Schema } from "../../client";

import { toSafe } from "../../utils";
import { createDirectusRelationItem, deleteDirectusRelationItem, readDirectusRelationItem, readDirectusRelationItems, updateDirectusRelationItem } from "../../command/DirectusRelation.command";

export class DirectusRelationItems {
  /**
   *
   */
  constructor(
    private client: Directus.DirectusClient<Schema> &
      Directus.RestClient<Schema>,
  ) {}

  /**
   * Read many items from the collection.
   */
  async query<
    const Query extends Directus.Query<
      Schema,
      Collections.DirectusRelation
    >,
  >(
    query?: Query,
  ): Promise<
    | {
        data: ApplyQueryFields<
          Schema,
          Collections.DirectusRelation,
          Query extends undefined
            ? ["*"]
            : Query["fields"] extends undefined
              ? ["*"]
              : Query["fields"] extends Readonly<any[]>
                ? Query["fields"]
                : ["*"]
        >[];
        isError: false;
        error: never;
      }
    | { error: Error; isError: true; data: never }
  > {
    return this.client
      .request(readDirectusRelationItems())
      .then((data) => ({ data, isError: false }) as any)
      .catch((error) => ({ error, isError: true })); // the any type is here because we transform the type through or custom ApplyQueryFields type.
  }
}

export class DirectusRelationItem {
  /**
   *
   */
  constructor(
    private client: Directus.DirectusClient<Schema> &
      Directus.RestClient<Schema>,
  ) {}

  /**
   * Create a single item in the collection.
   */
  async create<
    const Query extends Directus.Query<
      Schema,
      Collections.DirectusRelation
    >,
  >(
    item: Partial<Collections.DirectusRelation>,
    query?: Query,
  ): Promise<
    | {
        data: ApplyQueryFields<
          Schema,
          Collections.DirectusRelation,
          Query extends undefined
            ? ["*"]
            : Query["fields"] extends undefined
              ? ["*"]
              : Query["fields"] extends Readonly<any[]>
                ? Query["fields"]
                : ["*"]
        >;
        isError: false;
        error: never;
      }
    | { error: Error; isError: true; data: never }
  > {
    return this.client
      .request(createDirectusRelationItem(item))
      .then((data) => ({ data, isError: false }) as any)
      .catch((error) => ({ error, isError: true }));
  }

  /**
   * Read a single item from the collection.
   */
  async get<
    const Query extends Directus.Query<
      Schema,
      Directus.DirectusRelation<Schema>
    >,
  >(
    key: Collections.DirectusRelation extends { collection: number | string }
      ? Collections.DirectusRelation["collection"]
      : string | number,
    field: Directus.DirectusRelation<Schema>["field"],
  ): Promise<
    | {
        data:
          | ApplyQueryFields<
              Schema,
              Collections.DirectusRelation,
              Query extends undefined
                ? ["*"]
                : Query["fields"] extends undefined
                  ? ["*"]
                  : Query["fields"] extends Readonly<any[]>
                    ? Query["fields"]
                    : ["*"]
            >
          | undefined;
        isError: false;
        error: never;
      }
    | { error: Error; isError: true; data: never }
  > {
    return this.client
      .request(readDirectusRelationItem(key, field))
      .then((data) => ({ data, isError: false }) as any)
      .catch((error) => ({ error, isError: true }));
  }

  /**
   * Update a single item from the collection.
   */
  async update<
    const Query extends Directus.Query<
      Schema,
      Collections.DirectusRelation
    >,
  >(
    collection: Directus.DirectusRelation<Schema>["collection"],
    field: Directus.DirectusRelation<Schema>["field"],
    patch: Partial<Collections.DirectusRelation>,
    query?: Query,
  ): Promise<
    | {
        data:
          | ApplyQueryFields<
              Schema,
              Collections.DirectusRelation,
              Query extends undefined
                ? ["*"]
                : Query["fields"] extends undefined
                  ? ["*"]
                  : Query["fields"] extends Readonly<any[]>
                    ? Query["fields"]
                    : ["*"]
            >
          | undefined;
        isError: false;
        error: never;
      }
    | { error: Error; isError: true; data: never }
  > {
    return this.client
      .request(
        updateDirectusRelationItem(collection, field, patch, query as any),
      )
      .then((data) => ({ data, isError: false }) as any)
      .catch((error) => ({ error, isError: true }));
  }

  /**
   * Remove many items in the collection.
   */
  async remove(
    collection: Directus.DirectusRelation<Schema>["collection"],
    field: Directus.DirectusRelation<Schema>["field"],
  ): Promise<void> {
    return this.client
      .request(deleteDirectusRelationItem(collection, field))
      .then((data) => ({ data, isError: false }) as any)
      .catch((error) => ({ error, isError: true }));
  }
}
