import type * as Directus from "@directus/sdk";

import * as DirectusSDK from "@directus/sdk";

import { ApplyQueryFields } from "../../types/ApplyQueryFields";

import { Collections, CollectionsType, Schema } from "../../client";

import { toSafe } from "../../utils";

/**
 * Create many directus notifications items.
 */
export function createDirectusNotificationItems<
  const Query extends Directus.Query<
    CollectionsType,
    Collections.DirectusNotification
  >,
>(items: Partial<Collections.DirectusNotification>[], query?: Query) {
  return DirectusSDK.createNotifications<CollectionsType, Query>(items, query);
}

/**
 * Create a single directus notifications item.
 */
export function createDirectusNotificationItem<
  const Query extends DirectusSDK.Query<
    CollectionsType,
    Directus.DirectusNotification<CollectionsType>
  >, // Is this a mistake? Why []?
>(item: Partial<Collections.DirectusNotification>, query?: Query) {
  return DirectusSDK.createNotification<CollectionsType, Query>(item, query);
}

/**
 * Read many directus notifications items.
 */
export function readDirectusNotificationItems<
  const Query extends Directus.Query<
    CollectionsType,
    Collections.DirectusNotification
  >,
>(query?: Query) {
  return DirectusSDK.readNotifications<CollectionsType, Query>(query);
}

/**
 * Read many directus notifications items.
 */
export const listDirectusNotification = readDirectusNotificationItems;

/**
 * Gets a single known directus notifications item by id.
 */
export function readDirectusNotificationItem<
  const Query extends Directus.Query<
    CollectionsType,
    Collections.DirectusNotification
  >,
>(
  key: Collections.DirectusNotification extends { id: number | string }
    ? Collections.DirectusNotification["id"]
    : string | number,
  query?: Query,
) {
  return DirectusSDK.readNotification<CollectionsType, Query>(key, query);
}

/**
 * Gets a single known directus notifications item by id.
 */
export const readDirectusNotification = readDirectusNotificationItem;

/**
 * Read many directus notifications items.
 */
export function updateDirectusNotificationItems<
  const Query extends Directus.Query<
    CollectionsType,
    Collections.DirectusNotification
  >,
>(
  keys: Collections.DirectusNotification extends { id: number | string }
    ? Collections.DirectusNotification["id"][]
    : string[] | number[],
  patch: Partial<Collections.DirectusNotification>,
  query?: Query,
) {
  return DirectusSDK.updateNotifications<CollectionsType, Query>(
    keys,
    patch,
    query,
  );
}

/**
 * Gets a single known directus notifications item by id.
 */
export function updateDirectusNotificationItem<
  const Query extends Directus.Query<
    CollectionsType,
    Collections.DirectusNotification
  >,
>(
  key: Collections.DirectusNotification extends { id: number | string }
    ? Collections.DirectusNotification["id"]
    : string | number,
  patch: Partial<Collections.DirectusNotification>,
  query?: Query,
) {
  return DirectusSDK.updateNotification<CollectionsType, Query>(
    key,
    patch,
    query,
  );
}

/**
 * Deletes many directus notifications items.
 */
export function deleteDirectusNotificationItems<
  const Query extends Directus.Query<
    CollectionsType,
    Collections.DirectusNotification
  >,
>(
  keys: Collections.DirectusNotification extends { id: number | string }
    ? Collections.DirectusNotification["id"][]
    : string[] | number[],
) {
  return DirectusSDK.deleteNotifications<CollectionsType>(keys);
}

/**
 * Deletes a single known directus notifications item by id.
 */
export function deleteDirectusNotificationItem(
  key: Collections.DirectusNotification extends { id: number | string }
    ? Collections.DirectusNotification["id"]
    : string | number,
) {
  return DirectusSDK.deleteNotification<CollectionsType>(key);
}

export class DirectusNotificationItems
{
  /**
   *
   */
  constructor(
    private client: Directus.DirectusClient<Schema> &
      Directus.RestClient<Schema>,
  ) {}

  /**
   * Creates many items in the collection.
   */
  async create<
    const Query extends DirectusSDK.Query<
      CollectionsType,
      Collections.DirectusNotification
    >,
  >(
    items: Partial<Collections.DirectusNotification>[],
    query?: Query,
  ): Promise<
  { data: ApplyQueryFields<
      CollectionsType,
      Collections.DirectusNotification,
      Query extends undefined ? ['*'] : Query['fields'] extends undefined ? ['*'] : Query['fields'] extends Readonly<any[]> ? Query['fields'] : ['*']
    >[], isError: false, error: never} | {error: Error, isError: true, data: never}
  > {
    return this.client.request(
      createDirectusNotificationItems(items, query as any),
    ).then((data) => ({data, isError: false}) as any).catch((error) => ({error, isError: true})); // the any type is here because we transform the type through or custom ApplyQueryFields type.
  }

  /**
   * Read many items from the collection.
   */
  async query<
    const Query extends Directus.Query<
      CollectionsType,
      Collections.DirectusNotification
    >,
  >(
    query?: Query,
  ): Promise<
  { data: ApplyQueryFields<
      CollectionsType,
      Collections.DirectusNotification,
      Query extends undefined ? ['*'] : Query['fields'] extends undefined ? ['*'] : Query['fields'] extends Readonly<any[]> ? Query['fields'] : ['*']
    >[], isError: false, error: never} | {error: Error, isError: true, data: never}
  > {
    return this.client.request(
      readDirectusNotificationItems(query),
    ).then((data) => ({data, isError: false}) as any).catch((error) => ({error, isError: true})); // the any type is here because we transform the type through or custom ApplyQueryFields type.
  }

  /**
   * Read the first item from the collection matching the query.
   */
  async find<
    const Query extends Directus.Query<
      CollectionsType,
      Collections.DirectusNotification
    >,
  >(
    query?: Query,
  ): Promise<
    { data: ApplyQueryFields<
        CollectionsType,
        Collections.DirectusNotification,
        Query extends undefined ? ['*'] : Query['fields'] extends undefined ? ['*'] : Query['fields'] extends Readonly<any[]> ? Query['fields'] : ['*']
      >
    | undefined, isError: false, error: never} | {error: Error, isError: true, data: never}
  > {
    return this.client.request(
      readDirectusNotificationItems({
        ...query,
        limit: 1,
      }),
    ).then((items) => ({data: items?.[0], isError: false}) as any).catch((error) => ({error, isError: true}));
  }

  /**
   * Update many items in the collection.
   */
  async update<
    const Query extends Directus.Query<
      CollectionsType,
      Directus.DirectusNotification<CollectionsType>
    >,
  >(
    keys: Collections.DirectusNotification extends { id: number | string }
      ? Collections.DirectusNotification["id"][]
      : string[] | number[],
    patch: Partial<Collections.DirectusNotification>,
    query?: Query,
  ): Promise<
  { data: ApplyQueryFields<
      CollectionsType,
      Collections.DirectusNotification,
      Query extends undefined ? ['*'] : Query['fields'] extends undefined ? ['*'] : Query['fields'] extends Readonly<any[]> ? Query['fields'] : ['*']
    >[], isError: false, error: never} | {error: Error, isError: true, data: never}
  > {
    return this.client.request(
      updateDirectusNotificationItems(keys, patch, query),
    ).then((data) => ({data, isError: false}) as any).catch((error) => ({error, isError: true})); // the any type is here because we transform the type through or custom ApplyQueryFields type.
  }

  /**
   * Remove many items in the collection.
   */
  async remove<
    const Query extends Directus.Query<
      CollectionsType,
      Collections.DirectusNotification
    >,
  >(
    keys: Collections.DirectusNotification extends { id: number | string }
      ? Collections.DirectusNotification["id"][]
      : string[] | number[],
  ): Promise<void> {
    return await this.client.request(deleteDirectusNotificationItems(keys));
  }
}

export class DirectusNotificationItem
{
  /**
   *
   */
  constructor(
    private client: Directus.DirectusClient<Schema> &
      Directus.RestClient<Schema>,
  ) {}

  /**
   * Create a single item in the collection.
   */
  async create<
    const Query extends Directus.Query<
      CollectionsType,
      Collections.DirectusNotification
    >,
  >(
    item: Partial<Collections.DirectusNotification>,
    query?: Query,
  ): Promise<
  { data: ApplyQueryFields<
      CollectionsType,
      Collections.DirectusNotification,
      Query extends undefined ? ['*'] : Query['fields'] extends undefined ? ['*'] : Query['fields'] extends Readonly<any[]> ? Query['fields'] : ['*']
    >, isError: false, error: never} | {error: Error, isError: true, data: never}
  > {
    return this.client.request(
      createDirectusNotificationItem(item, query as any),
    ).then((data) => ({data, isError: false}) as any).catch((error) => ({error, isError: true}));
  }

  /**
   * Read a single item from the collection.
   */
  async get<
    const Query extends Directus.Query<
      CollectionsType,
      Collections.DirectusNotification
    >,
  >(
    key: Collections.DirectusNotification extends { id: number | string }
      ? Collections.DirectusNotification["id"]
      : string | number,
    query?: Query,
  ): Promise<
    { data: ApplyQueryFields<
        CollectionsType,
        Collections.DirectusNotification,
        Query extends undefined ? ['*'] : Query['fields'] extends undefined ? ['*'] : Query['fields'] extends Readonly<any[]> ? Query['fields'] : ['*']
      >
    | undefined, isError: false, error: never} | {error: Error, isError: true, data: never}
  > {
    return this.client.request(
      readDirectusNotificationItem(key, query),
    ).then((data) => ({data, isError: false}) as any).catch((error) => ({error, isError: true}));
  }

  /**
   * Update a single item from the collection.
   */
  async update<
    const Query extends Directus.Query<
      CollectionsType,
      Collections.DirectusNotification
    >,
  >(
    key: Collections.DirectusNotification extends { id: number | string }
      ? Collections.DirectusNotification["id"]
      : string | number,
    patch: Partial<Collections.DirectusNotification>,
    query?: Query,
  ): Promise<
    { data: ApplyQueryFields<
        CollectionsType,
        Collections.DirectusNotification,
        Query extends undefined ? ['*'] : Query['fields'] extends undefined ? ['*'] : Query['fields'] extends Readonly<any[]> ? Query['fields'] : ['*']
      >
    | undefined, isError: false, error: never} | {error: Error, isError: true, data: never}
  > {
    return this.client.request(
      updateDirectusNotificationItem(key, patch, query as any),
    ).then((data) => ({data, isError: false}) as any).catch((error) => ({error, isError: true}));
  }

  /**
   * Remove many items in the collection.
   */
  async remove<
    const Query extends Directus.Query<
      CollectionsType,
      Collections.DirectusNotification
    >,
  >(
    key: Collections.DirectusNotification extends { id: number | string }
      ? Collections.DirectusNotification["id"]
      : string | number,
  ): Promise<void> {
    return await this.client.request(deleteDirectusNotificationItem(key));
  }
}