import type * as Directus from "@directus/sdk";

import * as DirectusSDK from "@directus/sdk";

import { ApplyQueryFields } from "../../types/ApplyQueryFields";

import { Collections, Schema } from "../../client";

import { toSafe } from "../../utils";
import { readDirectusRevisionItem, readDirectusRevisionItems } from "../../command/DirectusRevision.command";

export class DirectusRevisionItems {
  /**
   *
   */
  constructor(
    private client: Directus.DirectusClient<Schema> &
      Directus.RestClient<Schema>,
  ) {}

  /**
   * Read many items from the collection.
   */
  async query<
    const Query extends Directus.Query<
      Schema,
      Collections.DirectusRevision
    >,
  >(
    query?: Query,
  ): Promise<
    | {
        data: ApplyQueryFields<
          Schema,
          Collections.DirectusRevision,
          Query extends undefined
            ? ["*"]
            : Query["fields"] extends undefined
              ? ["*"]
              : Query["fields"] extends Readonly<any[]>
                ? Query["fields"]
                : ["*"]
        >[];
        isError: false;
        error: never;
      }
    | { error: Error; isError: true; data: never }
  > {
    return this.client
      .request(readDirectusRevisionItems(query))
      .then((data) => ({ data, isError: false }) as any)
      .catch((error) => ({ error, isError: true })); // the any type is here because we transform the type through or custom ApplyQueryFields type.
  }

  /**
   * Read the first item from the collection matching the query.
   */
  async find<
    const Query extends Directus.Query<
      Schema,
      Collections.DirectusRevision
    >,
  >(
    query?: Query,
  ): Promise<
    | {
        data:
          | ApplyQueryFields<
              Schema,
              Collections.DirectusRevision,
              Query extends undefined
                ? ["*"]
                : Query["fields"] extends undefined
                  ? ["*"]
                  : Query["fields"] extends Readonly<any[]>
                    ? Query["fields"]
                    : ["*"]
            >
          | undefined;
        isError: false;
        error: never;
      }
    | { error: Error; isError: true; data: never }
  > {
    return this.client
      .request(
        readDirectusRevisionItems({
          ...query,
          limit: 1,
        }),
      )
      .then((items) => ({ data: items?.[0], isError: false }) as any)
      .catch((error) => ({ error, isError: true }));
  }
}

export class DirectusRevisionItem {
  /**
   *
   */
  constructor(
    private client: Directus.DirectusClient<Schema> &
      Directus.RestClient<Schema>,
  ) {}

  /**
   * Read a single item from the collection.
   */
  async get<
    const Query extends Directus.Query<
      Schema,
      Collections.DirectusRevision
    >,
  >(
    key: Collections.DirectusRevision extends { id: number | string }
      ? Collections.DirectusRevision["id"]
      : string | number,
    query?: Query,
  ): Promise<
    | {
        data:
          | ApplyQueryFields<
              Schema,
              Collections.DirectusRevision,
              Query extends undefined
                ? ["*"]
                : Query["fields"] extends undefined
                  ? ["*"]
                  : Query["fields"] extends Readonly<any[]>
                    ? Query["fields"]
                    : ["*"]
            >
          | undefined;
        isError: false;
        error: never;
      }
    | { error: Error; isError: true; data: never }
  > {
    return this.client
      .request(readDirectusRevisionItem(key, query))
      .then((data) => ({ data, isError: false }) as any)
      .catch((error) => ({ error, isError: true }));
  }
}
